In [1]:
from easypandas import check

In [2]:
import seaborn as sns

In [3]:
df = sns.load_dataset("iris")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
df.sepal_length.check.is_between(6, 10).value_counts()

False    83
True     67
Name: sepal_length, dtype: int64

In [5]:
df.sepal_length.check.is_greater(5).value_counts()

True     118
False     32
Name: sepal_length, dtype: int64

In [6]:
df.sepal_width.check.is_less_or_equal(df.petal_width).value_counts()

False    150
dtype: int64

In [7]:
df.check.get_sorted_columns(df.select_dtypes("number").columns.to_list())

['petal_width', 'sepal_width', 'petal_length', 'sepal_length']

In [8]:
df = sns.load_dataset("flights")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        144 non-null    int64
 1   month       144 non-null    category
 2   passengers  144 non-null    int64
dtypes: category(1), int64(2)
memory usage: 2.9 KB

In [9]:
import pandas as pd
df.year = pd.to_datetime(df.year, format="%Y")

In [10]:
df.year.check.get_elapsed_time_from("1900", "years")

0      49.000322
1      49.000322
2      49.000322
3      49.000322
4      49.000322
         ...
139    59.998494
140    59.998494
141    59.998494
142    59.998494
143    59.998494
Name: year, Length: 144, dtype: float64